*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(77, 170, 199);
}

#button {
  padding: 15px 35px;
  background-color: rgb(247, 67, 223);
  border: none;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
